body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.banner {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(
      rgba(0, 214, 211, 0.75),
      rgba(0, 0, 0, 0.971)
    ),
    url(BG.jpeg);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #0bfbdf;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3px;
}
span {
  color: rgb(24, 150, 196);
}
form {
  width: 300px;
  height: 40px;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  padding: 1px 1px;
  font-size: 15px;
  border-radius: 10px;
  backdrop-filter: blur(4px) saturate(180%);
}
form input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 12px 20px;
  font-size: 15px;
  color: rgb(11, 109, 154);
}
::placeholder {
  color: white;
}
form button {
  border: 0;
  outline: none;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;
  background: #00d5ff;
  cursor: pointer;
}
#search.hover {
  border: 1px;
  padding: 10px;

  transition: 0.5s;
  cursor: pointer;
  border-radius: 30px;
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.navbar li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar li:hover {
  border: 1px;
  padding: 10px;

  transition: 0.5s;
  cursor: pointer;
  border-radius: 30px;
  background: red;
  color: #081b29;
  box-shadow: 0 0 20px red;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text h2 {
  color: white;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 3px;
}
.text p {
  color: white;
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 30px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.login {
  margin: 0px 10px;
  border: 2px solid red;
  padding: 13px 35px;
  letter-spacing: 1px;
  color: white;
  border-radius: 30px;
  background-color: red;
  text-decoration: none;
}
.login:hover {
  border: 2px solid red;
  color: red;
  background-color: white;
  transition: 0.5s;
  cursor: pointer;
}
.signup {
  margin: 0px 10px;
  border: 2px solid rgb(235, 231, 20);
  padding: 13px 35px;
  letter-spacing: 1px;
  color: white;
  border-radius: 30px;
  background-color: rgb(183, 212, 14);
  text-decoration: none;
}
.signup:hover {
  border: 2px solid rgb(240, 222, 33);
  color: green;
  background-color: white;
  transition: 0.5s;
  cursor: pointer;
}
footer {
  border: 1px;
  padding: 10px;

  transition: 0.5s;
  cursor: pointer;
  border-radius: 30px;
  background: red;
  color: #081b29;
  box-shadow: 0 0 20px red;
}